{% load i18n innkeeper %}
<form method="get" class="filters">
  {% if kind %}<input type="hidden" name="type" value="{{ kind }}">{% endif %}
  <div class="field"><label for="from">{% translate "From" %}</label><input class="input" type="date" id="from" name="from" value="{{ start|date:'Y-m-d' }}"></div>
  <div class="field"><label for="to">{% translate "To" %}</label><input class="input" type="date" id="to" name="to" value="{{ end|date:'Y-m-d' }}"></div>
  <button class="btn btn-secondary">{% translate "Show" %}</button>
</form>
